- name: Ensure sshusers group exists
  ansible.builtin.group:
    name: sshusers
    state: present

- name: Configure secure sshd options
  ansible.builtin.blockinfile:
    path: /etc/ssh/sshd_config
    marker: "# {mark} ANSIBLE SSH HARDENING"
    block: |
      Port {{ ssh_port }}
      PermitRootLogin no
      PasswordAuthentication no
      KbdInteractiveAuthentication no
      ChallengeResponseAuthentication no
      PubkeyAuthentication yes
      PermitEmptyPasswords no
      UsePAM yes
      X11Forwarding no
      AllowTcpForwarding no
      AllowAgentForwarding no
      AllowStreamLocalForwarding no
      PermitTunnel no
      MaxAuthTries 3
      MaxSessions 2
      ClientAliveInterval 300
      ClientAliveCountMax 0
      LoginGraceTime 20
      AllowGroups sshusers
  notify:
    - validate ssh config
    - restart ssh service
